/Natural-Language-Processing-with-TensorFlow/ch9/image_caption_data/

/BoyuNLP/input/

/Fudan_NLP_beginner/task01_Text_classification/text_classification/data/stopwords.txt
/Fudan_NLP_beginner/task01_Text_classification/text_classification/data/cnews.vocab.txt